.env
node_modules
data
env
accounts.txt
accounts.db
__pycache__
*.db
dist
runs
.DS_Store

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
