aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.19.0
aiostream==0.5.2
annotated-types==0.6.0
anyio==4.1.0
asgiref==3.7.2
attrs==23.2.0
bitarray==2.9.2
blinker==1.7.0
blis==0.7.11
Brotli==1.1.0
catalogue==2.0.10
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==2.2.1
colbert-ai==0.2.19
confection==0.1.4
cymem==2.0.8
dataclasses-json==0.6.3
datasets==2.16.1
Deprecated==1.2.14
dill==0.3.7
distro==1.9.0
faiss-cpu==1.7.4
fake-useragent==1.4.0
fastapi==0.109.1
filelock==3.13.1
Flask==3.0.1
frozenlist==1.4.1
fsspec==2023.10.0
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.41
greenlet==3.0.3
grpclib==0.4.7
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.20.3
hyperframe==6.0.1
idna==3.6
importlib-metadata==7.0.1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.16
langcodes==3.3.0
langsmith==0.0.83
llama-index==0.9.39
loguru==0.7.2
markdown-it-py==3.0.0
MarkupSafe==2.1.4
marshmallow==3.20.2
mdurl==0.1.2
modal==0.61.8
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
mutagen==1.47.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
numpy==1.26.3
onnx==1.15.0
openai==1.10.0
packaging==23.2
pandas==2.2.0
pillow==10.2.0
preshed==3.0.9
protobuf==4.25.2
pyarrow==15.0.0
pyarrow-hotfix==0.6
pycryptodomex==3.20.0
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
PyYAML==6.0.1
RAGatouille==0.0.7.post3
regex==2023.12.25
requests==2.31.0
rich==13.7.0
ruff==0.1.14
safetensors==0.4.2
scikit-learn==1.4.0
scipy==1.12.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
sigtools==4.0.1
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.25
srsly==2.4.8
starlette==0.35.1
sympy==1.12
synchronicity==0.6.2
tblib==3.0.0
tenacity==8.2.3
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.15.1
toml==0.10.2
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
transformers==4.37.1
twscrape==0.9.0
typer==0.9.0
types-certifi==2021.10.8.3
types-toml==0.10.8.7
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
ujson==5.9.0
urllib3==2.1.0
voyager==2.0.2
wasabi==1.1.2
watchfiles==0.21.0
weasel==0.3.4
websockets==12.0
Werkzeug==3.0.1
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
yt-dlp==2023.12.30
zipp==3.17.0
