html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
/* for IE Safari*/
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}